/* DROPDOWN STYLES */

.select
	// position: relative
	// display: inline-block
	// margin-bottom: 15px           <<<<<<<<<  DECIDED TO USE BOOTSTRAP GRID INSTEAD
	// width: 300px
	// text-align: center
	padding-top: 20px
	select
		text-align: center
		font-family: 'Roboto', sans-serif
		font-weight: 500
		display: inline-block
		width: 100%
		cursor: pointer
		padding: 12px 30px
		outline: 0
		border-radius: 95px
		background: #38003C
		color: #FFFFFF
		appearance: none
		-webkit-appearance: none
		-moz-appearance: none
		select::-ms-expand
			display: none
		select:hover,
		select:focus
			color: #FFFFFF
			background: #320035
		select:disabled
			opacity: 0.1
			pointer-events: none

select
	text-align-last: center
	padding-right: 29px
	direction: inherit
	@:first-child
		border-radius: 20% 20% 0 0

.listItem
	font-family: 'Roboto', sans-serif
	font-weight: 500

#main
	border-top: 1px solid #EBEBE4

#dropdownWrapper
	height: 100vh

#player1
	border-right: 1px solid #EBEBE4
